body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

#start {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  display:flex;
  color: #FEF2BF;
  margin-top: 230px;
  margin-left: 0px;
  margin-right: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border: 10px solid black;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-item: center;
  height: 50vh;
  width: auto;
  margin: auto;
  flex-direction: row;

}
.start-btn {    
  padding: 10px 10px;
  border-radius: 20%;
  background-color: purple;
}

.btn {
  margin: 25px;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
